.table-display{
    text-align:center;
    background-color: white;
    height:200px;
}
table th,td{
    border:1px solid black;
    width:150px;
    
}
table{
    border-collapse:collapse;
    margin:0px 100px;
}
#add-btn{
    margin-left:-500px;
    margin-top:10px;
}